.mainFooterContainer {
  background-color: rgb(15, 22, 31);
  color: $flatLightGrey;
  font-size: 0.8em;
  letter-spacing: 1px;
  line-height: 1.3em;
  width: 100%;
  height: 300px;
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;

  // Todos os artigos
  & article {
    //border: solid 1px rgba(255, 192, 203, 0.26);
    height: 100%;

    & .footer__title {
      color: $flatGreen;
      font-size: 2em;
      margin-bottom: 20px;

      & hr {
        width: 20px;
        border: solid 1px $flatGreen;
        margin: 5px 0px 0px 0px;
      }
    }

    & .footer__subtitle {
      font-size: 1.3em;
      font-weight: bold;
      margin: 10px 0px 5px 0px;
    }

    // Icones
    & .unicon {
      fill: $flatLightGrey;
    }
  }

  // Artigo: Sobre
  & .footer__about {
    width: 300px;
  }

  // Artigo: Contato
  & .footer__contact {
    width: 300px;
    display: flex;
    flex-direction: column;

    & .footer__contact__content {
      margin-bottom: 15px;

      & span {
        margin-left: 10px;
      }
    }

    & .footer__subtitle {
      margin-bottom: 10px;
    }

    & .footer__social a {
      margin-right: 10px;

      &:hover {
        & .unicon {
          fill: $flatGreen;
        }
      }
    }
  }

  // Artigo: Links
  & .footer__links {
    width: 300px;
  }

  // Artigo: Divulgue
  & .footer__help {
    width: 300px;

    & .footer__subtitle {
      margin-top: 20px;
    }
  }
}
