.mainFooterContainer {
  background-color: rgb(15, 22, 31);
  color: $flatLightGrey;
  font-size: 0.8em;
  letter-spacing: 1px;
  line-height: 1.3em;
  width: 100%;
  height: 275px;
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;

  // Todos os artigos
  & article {
    height: 100%;

    & ~ article {
      margin-left: 20px;
    }

    & .footer__title {
      color: $flatGreen;
      font-size: 2em;
      margin-bottom: 20px;

      & hr {
        width: 20px;
        border: solid 1px $flatGreen;
        margin: 5px 0px 0px 0px;
      }
    }

    & .footer__subtitle {
      font-size: 1.3em;
      font-weight: bold;
      margin: 10px 0px 5px 0px;
    }

    // Icones
    & .unicon {
      fill: $flatLightGrey;
    }
  }

  // Artigo: Sobre
  & .footer__about {
    width: 300px;
  }

  // Artigo: Contato
  & .footer__contact {
    min-width: 225px;
    display: flex;
    flex-direction: column;

    & .footer__contact__content {
      margin-bottom: 15px;

      & span {
        margin-left: 10px;
      }
    }

    & .footer__subtitle {
      margin-bottom: 10px;
    }

    & .footer__social a {
      margin-right: 10px;

      &:hover {
        & .unicon {
          fill: $flatGreen;
        }
      }
    }
  }

  // Artigo: Links
  & .footer__links {
    width: 350px;

    & .footer__links__content__container {
      display: flex;
      justify-content: center;

      & .footer__links__content__subcontainer {
        width: 175px;
        display: flex;
        flex-direction: column;

        & .footer__subtitle {
          margin: 0px 0px 10px 0px;
        }

        & .footer__links__content {
          text-decoration: none;
          color: $flatLightGrey;
          margin-bottom: 5px;
          margin-left: 17.5px;
          position: relative;

          & .unicon {
            position: absolute;
            top: 0px;
            left: -22.5px;
          }

          &:hover {
            color: $flatGreen;
            & .unicon {
              fill: $flatGreen;
              margin-left: 3px;
            }
          }
        }
      }
    }
  }

  // Artigo: Divulgue
  & .footer__help {
    width: 300px;

    & .footer__subtitle {
      margin-top: 20px;
    }
  }
}
