// Opacidade 100%
$flatBlue: #2980B9;
$flatLightBlue: #3498DB;
$flatGreenSea: #16A085;
$flatGreenSea: #16A085;
$flatLightGreenSea: #1ABC9C;
$flatGreen: #27AE60;
$flatLightGreen: #2ECC71;
$flatPruple: #3f254b;
$flatLightPurple: #9B59B6;
$flatRed: #C0392B;
$flatLightRed: #E74C3C;
$flatPumpkin: #D35400;
$flatCarrot: #E67E22;
$flatOrange: #F39C12;
$flatYellow: #F1C40F;
$flatMidnightBlue: #2C3E50;
$flatLightMidnightBlue: #34495E;
$flatSmoke: #7F8C8D;
$flatLightSmoke: #95A5A6;
$flatGrey: #BDC3C7;
$flatLightGrey: #ECF0F1;

// Opacidade 50%
$flatBlue50: rgba(41, 127, 185, 0.5);
$flatLightBlue50: rgba(52, 152, 219, 0.5);
$flatGreenSea50: rgba(22, 160, 132, 0.5);
$flatGreenSea50: rgba(22, 160, 132, 0.5);
$flatLightGreenSea50: rgba(26, 188, 156, 0.5);
$flatGreen50: rgba(39, 174, 95, 0.5);
$flatLightGreen50: rgba(46, 204, 112, 0.5);
$flatPruple50: rgba(63, 37, 75, 0.5);
$flatLightPurple50: rgba(156, 89, 182, 0.5);
$flatRed50: rgba(192, 58, 43, 0.5);
$flatLightRed50: rgba(231, 77, 60, 0.5);
$flatPumpkin50: rgba(211, 84, 0, 0.5);
$flatCarrot50: rgba(230, 125, 34, 0.5);
$flatOrange50: rgba(243, 157, 18, 0.5);
$flatYellow50: rgba(241, 196, 15, 0.5);
$flatMidnightBlue50: rgba(44, 62, 80, 0.5);
$flatLightMidnightBlue50: rgba(52, 73, 94, 0.5);
$flatSmoke50: rgba(127, 140, 141, 0.5);
$flatLightSmoke50: rgba(149, 165, 166, 0.5);
$flatGrey50: rgba(189, 195, 199, 0.5);
$flatLightGrey50: rgba(236, 240, 241, 0.5);

// Opacidade 25%
$flatBlue25: rgba(41, 127, 185, 0.250);
$flatLightBlue25: rgba(52, 152, 219, 0.250);
$flatGreenSea25: rgba(22, 160, 132, 0.250);
$flatGreenSea25: rgba(22, 160, 132, 0.250);
$flatLightGreenSea25: rgba(26, 188, 156, 0.250);
$flatGreen25: rgba(39, 174, 95, 0.250);
$flatLightGreen25: rgba(46, 204, 112, 0.250);
$flatPruple25: rgba(63, 37, 75, 0.250);
$flatLightPurple25: rgba(156, 89, 182, 0.250);
$flatRed25: rgba(192, 58, 43, 0.250);
$flatLightRed25: rgba(231, 77, 60, 0.250);
$flatPumpkin25: rgba(211, 84, 0, 0.250);
$flatCarrot25: rgba(230, 125, 34, 0.250);
$flatOrange25: rgba(243, 157, 18, 0.250);
$flatYellow25: rgba(241, 196, 15, 0.250);
$flatMidnightBlue25: rgba(44, 62, 80, 0.250);
$flatLightMidnightBlue25: rgba(52, 73, 94, 0.250);
$flatSmoke25: rgba(127, 140, 141, 0.250);
$flatLightSmoke25: rgba(149, 165, 166, 0.250);
$flatGrey25: rgba(189, 195, 199, 0.250);
$flatLightGrey25: rgba(236, 240, 241, 0.250);
