$flatBlue: #2980B9;
$flatLightBlue: #3498DB;
$flatGreenSea: #16A085;
$flatLightGreenSea: #1ABC9C;
$flatGreen: #27AE60;
$flatLightGreen: #2ECC71;
$flatPruple: #3f254b;
$flatLightPurple: #9B59B6;
$flatRed: #C0392B;
$flatLightRed: #E74C3C;
$flatPumpkin: #D35400;
$flatCarrot: #E67E22;
$flatOrange: #F39C12;
$flatYellow: #F1C40F;
$flatMidnightBlue: #2C3E50;
$flatLightMidnightBlue: #34495E;
$flatSmoke: #7F8C8D;
$flatLightSmoke: #95A5A6;
$flatGrey: #BDC3C7;
$flatLightGrey: #ECF0F1;
