.localContainer {
  @include localContainerDefault;
}

// Titulo
.title__h2 {
  @include title_h2;
}

// Texto sobre o gráfico
.about__content {
  @include graphTitles;
}

.global__charts__subtitle {
  text-align: center;
}

// Conteiner de conteúdo
.content__container {
  position: relative;
  width: 80vw;
}

// Conteiner dos componentes
.component__GlobalMapApp__container {
  width: 100%;
  height: 60vh;
  
}

.component__GlobalRankApp__container {
  width: 100%;
}