.localContainer {
  margin-top: 200px;
  background-color: $flatMidnightBlue;
  position: absolute;
  left: 0px;
  width: 100%;
  padding: 40px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

// Titulo
.title_h2 {
  @include title_h2;
}

// Seleção de data para exibição de dados
.data__select__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
  width: 50vw;

  & .data__select {
    display: flex;
    height: 80px;

    & div {
      display: flex;
      align-items: center;
      height: 100px;

      & p {
        margin: 0px 15px 0px 15px;
        font-size: 1.3em;
        letter-spacing: 1px;
      }
    }
  }

  // Mensagem de erro ao selecionar data inválida
  & .data__error__msg {
    @include invalidDate;
  }
}

// Section que contém os gráficos
.graph__content__container {
  position: relative;
}

// Texto sobre o gráfico
.about__graph {
  @include graphTitles;
}

// Mensagem que será exibida caso nenhum país seja selecionado
.select__country__msg__container {
  @include unselectCountry;
}

// Gráfico
.graph__container {
  width: 90vw;
  max-height: 500px;
}
