.localContainer {
  margin-top: 200px;
  background-color: $flatMidnightBlue;
  position: absolute;
  left: 0px;
  width: 100%;
  padding: 40px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

// Titulo
.title {
  text-align: center;
  font-size: 3em;
  font-weight: 300;
  margin-bottom: 0px;
}

// Seleção de data para exibição de dados
.data__select__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
  width: 50vw;
  
  & .data__select {
    display: flex;
    height: 80px;

    & div {
      display: flex;
      align-items: center;
      height: 100px;

      & p {
        margin: 0px 15px 0px 15px;
        font-size: 1.3em;
        letter-spacing: 1px;
      }
    }
  }

  // Mensagem de erro ao selecionar data inválida
  & .data__error__msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 60px;
    width: 100%;
    border: solid 1px $flatLightRed;
    background-color: $flatRed25;
    border-radius: 5px;

    & p {
      margin-bottom: 2px;
    }

    & .error__msg__title {
      color: $flatLightRed;
      font-size: 1.2em;
      font-weight: bold;
      letter-spacing: 1px;
      text-decoration: underline;
    }
  }
}

// Mensagem que será exibida caso nenhum país seja selecionado
.select__country__msg__container {
  position: absolute;
  top: 250px;
  left: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 70vw;
  border: solid 1px $flatLightSmoke;
  background-color: $flatSmoke25;
  border-radius: 5px;
  
  & .select__country__msg {
    text-align: center;
    font-size: 2em;
    margin: 0px;
  }
}

// Gráfico
.graph__container {
  width: 90vw;
  max-height: 500px;
}
