@media (max-width: 910px) {
  .main__content__container {
    & .main__carousel__container {
      & .slide__title {
        font-size: 1.5em !important;
      }
    }
  }
}

@media (max-width: 750px) {
  .about__content__container {
    width: 90% !important;

    & .about__content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex: 1;

      & .msg__left,
      & .msg__right {
        text-align: justify;
      }
    }
  }
}

@media (max-width: 700px) {
  .main__content__container {
    & .main__carousel__container {
      & .slide__title {
        font-size: 1.5em !important;
      }

      & .slide__msg {
        font-size: 1.2em !important;
      }
    }
  }
}

@media (max-width: 500px) {
  .main__content__container {
    & .main__carousel__container {
      & img {
        width: 120px !important;
        height: 120px !important;
      }
    }
  }
}

@media (max-width: 400px) {
  .main__content__container {
    & .main__carousel__container {
      & .slide__msg {
        font-size: 1em !important;
      }

      & img {
        width: 80px !important;
        height: 80px !important;
      }
    }
  }
}

@media (min-width: 491px) {
  .media--display--about--image2 {
    display: none;
  }
}

@media (max-width: 490px) {
  .media--display--about--image1 {
    display: none;
  }

  .about__content__container {
    & .about__content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex: 1;

      & .title__left,
      & .title__right {
        text-align: center;
        margin: 0px;
      }

      & .msg__left,
      & .msg__right {
        margin: 0px;
      }
    }
  }
}
