.select__country {
  width: 320px;
  display: flex;

  & div {
    display: flex;
    flex-direction: column;

    & p {
        letter-spacing: 1px;
        margin-bottom: 8px;
    }

    form {
      & select {
        background-color: $flatLightGrey;
        padding: 8px;
      }
    }
  }
}
