@mixin localContainer {
  margin-top: 200px;
  background-color: $flatMidnightBlue;
  position: absolute;
  left: 0px;
  width: 100%;
  padding: 40px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
