// Classe usada para formatar a aparência de todos os elementos quando não houver nenhum país selecionado
@mixin unselect--country {
  .unselect--country {
    & *,
    & *:hover {
      color: $flatLightMidnightBlue !important;
      border-color: $flatLightMidnightBlue !important;
      background-color: $flatMidnightBlue !important;
    }
  }
}
