@media (max-width: 890px) {
  // Gráfico Doughnut
  .graph__doughnut__container {
    flex-direction: column;
    max-height: 800px;

    & .graph__doughnut__content {
      width: 100%;

      // Tabela do gráfico Doughnut
      & table {
        width: 100%;
        margin: 20px 0px 50px 0px;
      }
    }

    & .graph__doughnut {
      width: 90vw;
    }
  }
}

@media (max-width: 400px) {
  .graph__doughnut {
    & .graph__size {
      width: 100%;
    }
  }
}
