@media (max-width: 975px) {
  // Gráfico Doughnut
  .graph__doughnut__container {
    flex-direction: column;

    & .graph__doughnut {
      min-width: 100%;
      display: flex;
      justify-content: center;

      & .graph__size {
        width: 100%;
      }
    }
  }
}

@media (min-width: 1100px) {
  // Tabela de "Informações adicionais"
  .countryDataTable__container {
    width: 1000px;
  }
}
