.localContainer {
  margin-top: 200px;
  background-color: $flatMidnightBlue;
  position: absolute;
  left: 0px;
  width: 100%;
  padding: 40px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

// Titulo
.title {
  text-align: center;
  font-size: 3em;
  font-weight: 300;
  margin-bottom: 0px;
}

// Seleção de data para exibição de dados
.data__select__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
  width: 50vw;

  & .data__select {
    display: flex;
    height: 80px;

    & div {
      display: flex;
      align-items: center;
      height: 100px;

      & p {
        margin: 0px 15px 0px 15px;
        font-size: 1.3em;
        letter-spacing: 1px;
      }
    }
  }

  // Mensagem de erro ao selecionar data inválida
  & .data__error__msg {
    @include invalidDate;
  }
}

// Texto sobre o gráfico
.about__graph {
  @include graphTitles;
}

// Mensagem que será exibida caso nenhum país seja selecionado
.select__country__msg__container {
  position: absolute;
  top: 425px;
  left: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 70vw;
  border: solid 1px $flatLightSmoke;
  background-color: $flatSmoke25;
  border-radius: 5px;

  & .select__country__msg {
    text-align: center;
    font-size: 2em;
    margin: 0px;
  }
}

// Gráfico Linear
.graph__container {
  width: 90vw;
  max-height: 500px;
}

// Gráfico Doughnut
.graph__doughnut__container {
  width: 90vw;
  max-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;

  & .graph__doughnut__content {
    min-width: 350px;

    // Tabela do gráfico Doughnut
    & table {
      width: 450px;
      & .main__tbody {
        font-size: 1.1em;

        & tr {
          & td:first-child {
            width: 240px;
          }

          & td:last-child {
            width: 160px;
          }

          & ~ tr {
            border-top: solid 1px $flatGrey50;
          }
        }

        & td {
          padding: 10px;
        }
      }
    }
  }

  & .graph__doughnut {
    width: calc(90vw - 450px);
  }
}

// Tabela principal
.countryDataTable__main {
  width: 90vw;

  & .main__tbody {
    font-size: 1.2em;

    & .main__tr {
      &:nth-child(odd) {
        background-color: $flatLightMidnightBlue50;
        border-top: solid 1px $flatGrey50;
      }

      &:nth-child(even) {
        color: $flatLightSmoke;
        font-size: 0.8em;
      }

      &:hover {
        background-color: $flatGreenSea50;
      }

      & td {
        padding: 10px;
      }
    }
  }
}

// Tabela interna
.countryDataTable__internal {
  width: 95%;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;

  & thead {
    font-size: 0.9em;
    background-color: $flatMidnightBlue;
    color: $flatLightGreenSea;
    & th {
      padding: 10px;
      font-weight: 300;
      letter-spacing: 1px;
    }

    & tr {
      border-bottom: solid 1px $flatGrey50;
    }
  }

  & tbody {
    color: $flatLightSmoke;
    font-size: 0.8em;

    & tr {
      border-top: solid 1px $flatGrey25;
      padding: 40px;
    }

    & td {
      padding: 10px;
    }
  }
}
