.GlobalSummaryContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.all__register__item__container {
  background-color: $bgflatGreenSea80;
  color: $flatGreenSea;
  width: 300px;
  border: solid 1px $flatGreenSea;
  border-radius: 0px 10px 0px;
  margin: 10px 0px;
  padding: 5px;

  & .all__register__title {
    letter-spacing: 1px;
    font-size: 1.2em;
    font-weight: bold;
  }

  & .all__register__value {
    font-weight: lighter;
    font-size: 1.4em;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

// Conteiner do gráficode Doughnut
.graph__doughnut__container {
  width: 450px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
