/*
* OBS: Os "!important" servem para resolver o conflito dos estilos pré-definidos pelo "vue-burger-menu".
*/
@media (max-width: 860px) {
  // Tirando o texto ao ladodo botão de abrir o Menu
  .open__menu__text {
    display: none;
  }
}

@media (max-width: 785px) {
  // Tirando o texto principal
  .page__title {
    display: none !important;
  }

  // Alterando margem do botão do Menu
  .open__menu {
    padding: 0px 0px 0px 30px;
  }
  
  // Alterando margem do <select> dos países
  .aside__header {
  padding: 0px 30px 0px 60px;
  }

}
