/*
* OBS: Os "!important" servem para resolver o conflito dos estilos pré-definidos pelo "vue-burger-menu".
*/

hr {
  margin: 0px;
}

.localContainer {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: space-between;
  transition: 0.3s;
  z-index: 999;

  // Separação entre os elementos que compõe o Header_Menu
  & div {
    align-items: center;
    white-space: nowrap;
    display: flex;
  }
}

.open__menu {
  width: 450px;
  padding: 0px 60px 0px 60px;
  justify-content: flex-start;

  & label {
    margin: 0px;
  }

  & .open__menu__text {
    user-select: none;
    justify-self: flex-end;
    margin-top: 15px;
    font-weight: 300;
    font-size: 1.5em;
    letter-spacing: 2px;
  }

  & .menu__page__title {
    margin: 0px 0px 20px 30px;
  }

  // Estilo dos elementos que estão dentro do menu
  & .menu__link__1 {
    padding: 10px 0px 10px 20px !important;
    font-weight: 700;
    color: $flatLightGrey;
  }

  & .menu__link__1,
  & .menu__link__2 {
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none !important;

    & .unicon {
      fill: $flatLightGrey;
      transition: 0.1s;
    }

    &:hover .unicon {
      fill: $flatLightGreenSea;
    }

    & .link__title__1 {
      margin-left: 10px !important;
      letter-spacing: 1px;
      transition: 0.1s;
    }

    &:hover .link__title__1,
    &:hover .link__title__2 {
      color: $flatLightGreenSea !important;
    }
  }

  /*
  * Dropdown do menu
  */
  & input {
    display: none;
  }

  & .link__title__2 {
    color: $flatLightGrey;
    font-size: 0.8em;
    font-weight: 500 !important;
    letter-spacing: 1px;
    margin-left: 10px;
    transition: 0.1s;
  }

  & .question__list,
  & .graphcs__list {
    background-color: $flatSmoke25;
    height: 0px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: 0.5s;

    & .menu__link__2 {
      padding: 6px 0px 6px 50px;

      &:hover {
        background-color: $flatMidnightBlue25;
      }
    }
  }

  /*
  * Animação para abrir e fechar os sub-menu (Keyframes)
  */
  & #checkGraphcsList:checked ~ .graphcs__list {
    animation: __open__graphcs__list 0.2s linear 0s normal 1 forwards running;
  }

  & #checkGraphcsList:not(:checked) ~ .graphcs__list {
    animation: __close__graphcs__list 0.2s linear 0s normal 1 forwards running;
  }

  & #checkQuestionList:checked ~ .question__list {
    animation: __open__question__list 0.2s linear 0s normal 1 forwards running;
  }

  & #checkQuestionList:not(:checked) ~ .question__list {
    animation: __close__question__list 0.2s linear 0s normal 1 forwards running;
  }
  /* #################################### */
}

.page__title {
  user-select: none;
  font-weight: 300;
  font-size: 2.5em;
  letter-spacing: 2px;
  justify-content: center;
  flex: 2;
}

.country__select {
  justify-content: flex-end;
  padding: 0px 60px 0px 60px;
  width: 450px;

  & .country__select__input {
    margin-right: 10px;
  }
}

// Status do carregamento dos dados
.data__req__status {
  & .unicon__error {
    fill: $flatLightRed;
  }

  & .unicon__loading {
    margin: 1px;
    fill: $flatLightSmoke;
    animation: __rotate__unicon__loading 1s linear 0s normal infinite none
      running;
  }

  & .unicon__complete {
    fill: $flatLightGreen;
  }
}
