@media (max-width: 860px) {
  .hide--headerbar {
    top: -52px;
  }
}

.link--group--active {
  fill: $flatLightGreenSea !important;
  color: $flatLightGreenSea !important;
}

.sub--link--questions--active {
  transform: rotate(90deg) !important;
}