.localContainer {
  @include localContainerDefault;
}

// Titulo
.title__h2 {
  @include title_h2;
}

.title__h3 {
  @include title_h3;
}

// Container da seção
.section__content__container {
  @include section_content_container;
}

// Container do conteúdo
.content__container {
  @include content_container;

  & .img__stap__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    & .img__stap__item {
      background-color: $bgflatGreenSea80;
      width: 300px;
      margin: 10px 10px;
      padding: 10px;
      border: solid 1px $flatGreenSea;
      border-radius: 0px 10px 0px;
      display: flex;
      align-items: center;
      flex-direction: column;

      & .img__normal__size {
        width: 280px;
      }

      & .img__double__width {
        width: 520px;
      }
    }
  }
}
