@mixin unselectCountry {
  background-color: $flatSmoke25;
  cursor: pointer;
  height: auto;
  width: 70vw;
  border: solid 1px $flatLightSmoke;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 100px;
  left: 10vw;

  & .select__country__msg {
    user-select: none;
    text-align: center;
    font-size: 2em;
    margin: 0px;
  }
}
